<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-lg-2 col-print-2 photo">
            <img class="circular--square" src="photo_bw.jpeg" />
        </div>
        <div class="col-lg-6 col-print-6">
            <h1>{{ name }}</h1>
            <h4>{{ title }}</h4>
        </div>
        <div class="col-lg-4 col-print-4">
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-3">{{ @key }}</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
                <dt class="col-md-12 screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF version</a></dt>
                <dt class="col-md-3 print">Online</dt>
                <dd class="col-md-9 print"><a href="{{ baseUrl }}" class="text-nowrap"><i class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></dd>
                <dd><time datetime="{{ buildinfo.date }}" class="col-md-12">Última actualización: {{ updated }}</time></dd>
            </dl>
        </div>
    </div>

    <hr><br>

    <h4 class="title-bg-color">HABILIDADES</h4>
    <div class="card mb-4 text-desc-color">
        <div class="card-body">
            <div class="row mb-4">
                {{#each skills}}
                <div class="col-print-3 col-3">
                    <span class="skills">{{ this }}</span>
                </div>
                {{/each}}
            </div>
            <p>Mi trabajo en tecnología comenzó en el 2005 como desarrollador Full-Stack .NET. He recorrido diversos equipos de trabajo, con diferentes responsabilidades e implementando y capacitandome en lenguajes y tecnologías, hasta llegar al liderazgo.
                Me han confiado liderar equipos de mas de 30 pesonas, con resultados enfocados a la satisfacción del producto y del equipo humado.</p>
            <p>Hoy en día la experiencia es fundamental a la hora de encarar proyectos, dimensionar equipos y realizar comunicaciones internas y externas.</p>
            <p>Me enfoco en la proactividad, motivo la colaboración y premio los resultados.</p>      
        </div>
    </div>

    <h4 class="title-bg-color">EXPERIENCIA PROFESIONAL</h4>
    {{#each experience}}
    <div class="card mb-4">
        <div class="card-body text-desc-color">
            <h5>{{ title }}</h5>
            <p class="text-muted">{{ written }}</p>
            <span>{{{markdown contents }}}</span>
            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
            <div class="row mb-4">
                <div class="col-print-12 col-12">
                    <ul>
                    {{#each items}}
                        <li>{{ this }}</li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <h4 class="title-bg-color">EDUCACIÓN</h4>
    <div class="card mb-4">
        <div class="card-body text-desc-color">
            <h3>UADE</h3>
            <p class="text-muted">2004 - 2009</p>
            <span>Ingeniería en sistemas</span>
        </div>
    </div>

    <h4 class="title-bg-color">IDIOMAS</h4>
    <div class="card mb-4">
        <div class="card-body text-desc-color">
            <h6>Español</h6>
            <p class="text-muted">Nativo</p>
            <h6>Ingles</h6>
            <p class="text-muted">Escrito: avanzado / Oral: básico</p>
        </div>
    </div>

    <h4 class="title-bg-color">PUBLICACIONES</h4>
    {{#each publications}}
    <div class="card mb-4 text-desc-color">
        <div class="card-body">
            <h5>{{ title }}</h5>
            <p class="text-muted">{{ written }}</p>
            <a href="{{link}}" target="_blank">{{name}}</a>
            <div>
                {{#each badges}}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
</body>
</html>
